body,
html {
  height: 100%;
  margin: 0;
  color: aquamarine;
  font: 400 15px/1.8 "Lato", sans-serif;
}

.search-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;

  background-image: url("karaoke.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 30px;
}

label {
  font-size: 20px;
  font-weight: bold;
}

.buffer {
  width: 100%;
  min-height: 10vh;
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 30px "Lato", sans-serif;
  font-weight: bold;
  color: aquamarine;
}

.colored-lyrics-container {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 6rem 0;
  background-color: aquamarine;
  color: black;
  gap: 1.6em;
}

#lyrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
}

 #lyrics p{
  margin: 0;
  padding: 0;
  line-height:0.8;
} 